/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: normal 1.1em/1.5 sans-serif;
	color: #222;
	background-color: #edeff0;
}

/* Icon Fonts           
================================ */

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Layout Element Colors
================================ */

.main-header       { background-color: #384047; }
.main-nav a        { background-color: #3f8abf; }  /*main LOGO */
.main-logo a       { background-color: #3f8abf; }
.primary-content   { background-color: #caebf6; }

/* Main Layout
================================ */

.main-header,
.col {
	padding: 20px;
}
.main-logo a, 
.main-nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 8px 15px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.main-nav a::before {
	font-family: 'icomoon';
  	content: attr(data-icon);
	color: #505050;
	position: absolute;
	top: 10px;
	left: -30%;
	transition: .4s;
}
.main-nav a:hover::before {
	left: 10%;

}
.main-footer {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.extra-content,
.main-banner {
	display: none;
}


/* Imagery
================================ */

.feat-img {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px;
	padding: 5px;
}

/* Media Queries
================================ */

@media (min-width: 1px) and (max-width: 768px) {
	.main-nav li {
		margin-top: 15px;
	}
	.main-nav li:first-child {
		margin-top: 0;
	}
}

@media (min-width: 769px) {

	body {
		padding-top: 120px;
	}

	/* Header and Banner Layout
	================================ */

	.main-header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 120px;
	}
	.main-nav {
		display: -webkit-flex;
		display: flex;
		height: 100%;
	}
	.main-nav li {
		margin-left: 8px;
		margin-right: 8px;
		-webkit-align-self: center;
		align-self: center;
		-webkit-flex-grow: 1;
		flex-grow: 1;
		transition: .5s;
	}
	.main-nav li:hover:not(.main-logo) {
		-webkit-flex-grow: 2;
		flex-grow: 2;
	}
	.main-logo:first-child {
  		margin-right: 50px;
	}
	.main-banner {
		background: #dfe2e4;
		text-align: center;
		padding: 50px 15px;
		display: block;
	}

	/* Column Layout
	================================ */

	.col {
		width: 30%;
		display: inline-block;
		margin-right: -5px;
		vertical-align: top;
	}
	.primary-content {
		width: 50%;
	}
    
.secondary-content{

	   width: 20px;
}

	/* Imagery
	================================ */

	.feat-img {
		width: 50%;
		float: left;
		margin-right: 25px;
	}
}
.shadow{
    color: #2d2d2d;
    font-size: 2.1em;
    text-shadow: 1px 1px 1px #000;


}
	/* about team page
	================================ */
.photograph-anurag{
  display: block;
  max-width: 160px;
  margin: 25px auto 40px 30px;
  border-radius: 100%;
  float:left;
  padding-right: 0%;}

  .photograph-akash{
  display: block;
  max-width: 160px;
  margin: 25px auto 40px 30px;
  border-radius: 100%;
  float:left;
  padding-right: 0px;
}
.anurag-info{
 display: inline-block;

 margin: 20px 0 0 20px;

}
.akash-info{
 display: inline-block;
  
 margin: 20px 0 0 20px;

}
.main-wrapper{
	float:left; 
	}
}